body,
html {
  color: var(--foreground);
  background: #e0e0e0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*   font-family: var(--font-comfortaa); */
  font-family: var(--font-marcellus);
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.5;
  z-index: 0;
  font-size: 1.05rem;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: var(--font-oswald);*/
  font-family: var(--font-clash-display);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



a {
  color: inherit;
  text-decoration: none;
}


pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  box-shadow: 0 1px 1px #00000014;
  position: relative;
  border-radius: .5rem;
  background-color: rgb(37 42 55);
  color: #fff;
  padding: 15px;
}

code,
kbd,
samp,
pre {
  font-family: source-code-pro, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

pre code {
  color: #fff;
  display: block;
  min-width: -moz-max-content;
  min-width: max-content;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(37 42 55);
}

.spacer {
  display: flex;
  flex-grow: 1;
}

.page-main {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.show {
  display: inline-flex;
}

.hidden {
  display: none !important;
}



.label {
  font-size: 0.85rem;
  color: #777;
  font-style: italic;
  line-height: 1;
}

.border-bottom {
  border-bottom: 1px solid #ddd;
}

.uppercase {
  text-transform: uppercase;
}


.page-body {
  display: block;
  width: 960px;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media (max-width: 960px) {
  .page-body {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 10px;
  }
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;

}

.boldest {
  font-weight: 900;
}

.bg-white{
  background-color: #fff;
}

.btn.btn-icon {
  background-color: transparent !important;
  border: none !important;
  color: #000;
  padding: 0;
  font-family: inherit;
}

.list {
  border-radius: 10px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  padding: 10px 20px;
  line-height: 1;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.list-item:last-of-type {
  border-bottom: none;
}

.list-item:hover {
  background-color: #ddd;
}


.container,
.page-wrap,
.content-wrap,
.content-wrap-wide {
  width: 90vw;
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 0;
}

@media screen and (max-width: 600px) {

  .container,
  .page-wrap,
  .content-wrap,
  .content-wrap-wide {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 20px;
  }
}

.page-height {
  min-height: calc(100vh - 70px);
}


ol {
  padding: 0;
  margin-left: 20px;
}

ul {
  padding: 0;
  margin-left: 20px;
}

p {
  margin-bottom: 10px;
}

.txt-sm {
  font-size: 90%;
}

.italic {
  font-style: italic;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.page-top {
  min-height: 150px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  /*background-image: url(/images/face.jpg); /*/
  z-index: 10;
  background-blend-mode: color-burn;
}

.page-top-mini {
  min-height: 80px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  flex: 1 1;
  flex-grow: 1;
  padding: 0 20px;
  position: relative;
  z-index: 2;
}

.page-info h1 {
  font-size: 2.4rem;
  line-height: 1 !important;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: center;
  /*   text-shadow: -1px 0px 2px #666; */
}

.page-info h2 {
  font-size: 1.5rem;
  line-height: 1 !important;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
  /*   text-shadow: -1px 0px 2px #666; */
}

.page-info h1,
.page-info h2 {
  font-family: var(--font-marcellus);
}

@media (max-width: 700px) {
  .page-info h1 {
    font-size: 2rem;
  }

  .page-info h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 500px) {
  .page-info h1 {
    font-size: 1.6rem;
  }

  .page-info h2 {
    font-size: 1rem;
  }
}

.breadcrumbs {
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}

.breadcrumbs a,
.breadcrumbs span {
  font-size: 0.8rem;
  font-weight: 900;
  position: relative;
  margin-right: 30px;
  line-height: 1;
  padding: 0;
}

.breadcrumbs a {
  color: rgb(193, 246, 47);
  text-decoration: underline;
}

.breadcrumbs span {
  color: #eee;
}

.breadcrumbs a:after,
.breadcrumbs span:after {
  position: absolute;
  /*  content: "→"; */
  content: "↠";
  transform: translateY(50%);
  right: -20px;
}

/* .breadcrumbs a:last-of-type:after, */
.breadcrumbs span:last-of-type:after {
  content: "";
}

ul.grouped-desc {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  width: 100%;
  flex-grow: 1;
  flex: 1 1;
}

ul.grouped-desc li {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex: 1 1;
}


@media (max-width: 750px) {
  ul.grouped-desc {
    display: flex;
    flex-direction: column;
  }

  ul.grouped-desc li {
    margin-bottom: 10px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

input,
.input,
select,
textarea {
  font-family: inherit;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=number],
input[type=url],
input[type=date],
textarea,
select {
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: var(--text-color);
  border: solid 1px #ddd;
  padding: 11px 25px 13px 25px;
  background-color: var(--background-color);
  height: auto !important;
  min-width: 0;
  border-radius: 0;
  outline: 0;
}

.white {
  background-color: #FFF
}

.beige {
  background-color: #E4C1B1
}

.sky {
  background-color: #81b0c0;
}

.page-vertical-pad {
  padding: 50px 0;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}



.grid-pane {
  /*   width: 32.7%; 
  padding: 0;*/
  display: flex;
  flex-direction: column;

  justify-content: center;
  border-style: solid;
  border-width: 4px;
  transition: .3s ease-in-out;
  overflow: hidden;
  position: relative;
  min-height: 350px;
  background-color: #f6f5fa;
  /* */
  border-color: #fff;
  margin: 30px 30px 0 0;
  box-sizing: border-box;
  width: calc(1/3 * 100% - (1 - 1/3) * 50px);

}

.category-banners {
  padding: 30px 0 30px 30px;
}

.category-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 30px 30px 0 0;
  box-sizing: border-box;
  width: calc(1/3 * 100% - (1 - 1/3) * 50px);
  z-index: 0;
}

.category-pane-container {
  transition: .3s ease-in-out;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  min-height: 200px;
  background-color: #aaa;
  border-radius: 12px;
}

.bg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 1;
  transition: .4s ease-in-out;
}

.cat-info {
  position: absolute;
  right: 0;
  max-width: 100%;
  bottom: 0;
  padding: 20px;
  color: #fff;
  font-family: var(--font-marcellus);
  z-index: 2;
  font-weight: 900;
  font-size: 1.2rem;
}


.category-pane-container:hover > .bg-overlay {
  opacity: 0.8;
}


@media (max-width: 700px) {
  .grid-pane {
    margin: 30px 0 0 0;
    width: calc(1/2 * 100% - (1 - 1/2) * 20px);
  }

  .category-pane {
    margin: 30px 0 0 0;
    width: calc(1/2 * 100% - (1 - 1/2) * 60px);
  }
}

@media (max-width: 500px) {
  .grid-pane {
    width: 100% !important;
    margin: 30px 0 0 0;
  }

  .category-pane {
    width: 100% !important;
    margin: 30px 0 0 0;
  }
}


.shadow-box {
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
}

.feature-cat {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 6px;
  line-height: 1;
  font-size: 0.8rem;
  font-family: var(--font-marcellus);
  z-index: 10;
  font-weight: 900;
  text-shadow: 0px 1px 0px #000;
  background-color: #894d9a;
}

.admin-span{
  text-transform: uppercase;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 4px 6px;
  line-height: 1;
  font-size: 0.8rem;
  z-index: 10;
  font-weight: 900;
  display: inline-flex;
  align-items: center;
  text-shadow: 0px 1px 0px #000;
}
.admin-span a{
  display: inline-flex;
  align-items: center;}

.product-cat {
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 6px;
  line-height: 1;
  font-size: 0.8rem;
  font-family: var(--font-marcellus);
  z-index: 10;
  font-weight: 900;
  text-shadow: 0px 1px 0px #000;
}

.product-cat.purple {
  background-color: rgb(179, 15, 201) !important;
}

.product-cat.crimson {
  background-color: rgb(201, 15, 80) !important;
}

.product-cat.beige {
  background-color: #e4c1b1;
}

.product-image {
  display: flex;
  flex-grow: 1;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 380px; */
  background-position: center center;
  background-size: contain;
  transition: 3s ease-in-out;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 0;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.product-title {
  display: flex;
  flex-direction: column;
  flex-grow: 0 1;
  padding: 10px 15px;
  font-weight: 700;
  color: #000;
  font-family: var(--font-marcellus);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  transition: .3s ease-in-out;
  z-index: 1;
  position: relative;
}

.product-sub-title {
  display: flex;
  flex-grow: 0 1;
  font-size: 75%;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  color: #444;
  font-family: var(--font-marcellus);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-align: center;
  transition: .3s ease-in-out;
  z-index: 1;
  position: relative;
}

.product-desc {
  z-index: 1;
  height: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0 1;
  font-size: 85%;
  padding: 0 15px;
  font-style: italic;
  transition: .6s ease-in-out;
  background-color: #fff;
}

.view-more {
  padding: 5px 0;
  font-weight: 700;
}


.view-more.purple {
  color: rgb(179, 15, 201);
}

.view-more.crimson {
  color: rgb(201, 15, 80);
}

.view-more.beige {
  color: #e4c1b1;
  background-color: transparent;
}

.product-info {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: .3s ease-in-out;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.grid-pane.purple:hover {
  border-color: rgb(179, 15, 201) !important;
}

.grid-pane.crimson:hover {
  border-color: rgb(201, 15, 80) !important;
}

.grid-pane.beige:hover {
  border-color: #e4c1b1;
}

.grid-pane:hover > .product-info > .product-desc {
  height: auto;
  padding: 15px;
}

.grid-pane.purple:hover > .product-info > .product-title {
  background-color: rgb(179, 15, 201);
  color: #fff;
}

.grid-pane.purple:hover > .product-info > .product-title > .product-sub-title {

  color: #fff;
}

.grid-pane.crimson:hover > .product-info > .product-title {
  background-color: rgb(201, 15, 80);
  color: #fff;
}

.grid-pane.crimson:hover > .product-info > .product-title > .product-sub-title {

  color: #fff;
}

.grid-pane.beige:hover > .product-info > .product-title {
  background-color: #e4c1b1;
  color: "#fff"
}

.grid-pane.beige:hover > .product-info > .product-title > .product-sub-title {

  color: #fff;
}

.grid-pane:hover > .product-image {
  /* background-size: cover;
     animation: mymove 5s ease-in-out; 
  animation-name: grow;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;*/
}


@keyframes mymove {
  50% {
    background-size: cover;
  }
}



@keyframes grow {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1.5);
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  max-width: 100%;
  box-sizing: border-box;
}

@media (max-width: 700px) {
  .product-container {
    display: flex;
    flex-direction: column;
  }
}

.product-image-side {
  min-width: 450px;
  min-height: 450px;
  display: flex;
  flex: 0 1;
  flex-direction: column;
  background-color: #f6f5fa;
  padding: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.product-image-container {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  align-items: center;
  object-fit: contain;
}

.product-image-container img {
  max-width: 100%;
  max-height: 100%;
}


@media screen and (max-width: 450px) {
  .product-image-side {
    min-width: 100%;
  }

}

.barcode-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border: 1px solid #ddd;
}

.barcode-container img {
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
}

.product-desc-side {
  min-height: 450px;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #c2d0d5;

  background: -webkit-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: -o-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: -moz-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
}

.product-tab-container {
  display: flex;
  flex-direction: column;
}

.product-tab-item-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #537e8d;
}

.product-tab-details-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  line-height: 1.7;
}

.product-tabs {
  display: flex;
  flex-direction: row;
  padding: 12px 15px;
  font-size: 0.9rem;
  background-color: transparent;
  color: #444;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.product-tabs:hover,
.product-tabs.active {

  background-color: #444;
  color: #fff;
  border: none;
}

.hidden-resp {
  display: none;
}

.show {
  display: block;
}


.missions-section {
  padding: 30px 40px 10px 40px;
  background-size: cover;
  position: relative;
}

.testimony-section {
  padding: 30px 40px 60px 40px;
  background-image: url(/images/bg-beige.webp);
  background-size: cover;
  position: relative;
}

.testimonial-pane-container {
  transition: .3s ease-in-out;
  background-size: cover;
  cursor: pointer;
  position: relative;
  min-height: 200px;
  background-color: #fff;
  border-radius: 12px;
  padding-bottom: 20px;
  margin-top: 30px;
  box-shadow: 5px 5px 16px 5px rgba(0, 0, 0, 0.2);
}

.mission-pane-container {
  transition: .3s ease-in-out;
  background-size: cover;
  cursor: pointer;
  position: relative;
  min-height: 200px;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 30px;
}

.mission-header {
  font-family: var(--font-marcellus);
  font-weight: 700;
}

.tester-pic {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 50%;
  top: -50px;
  background-color: #aaa;
  transform: translateX(-50%);
  background-size: cover;
}

.testimony-message-div {
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
}

.mission-message-div {
  margin-top: 50px;
  padding: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.mission-header {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tester-name {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
}

.section-header {
  padding: 20px 0;
  text-align: center;
}

.section-header h2 {
  text-align: center;
  font-size: 1.9rem;
}



.toast {
  position: fixed;
  margin: 0;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 9px 9px -6px #333;
}

.dialog {
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: -2px 9px 9px -6px #333;
  z-index: 900000000000000000000000000;
}

.dialog-actions {
  display: flex;
}

.button-area {
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.button-area button {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  flex-grow: 1;
  background-color: transparent;
  padding: 14px 25px;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  cursor: pointer;
}

.button-area button {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  flex-grow: 1;
  background-color: transparent;
  padding: 16px 25px;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: none;
  cursor: pointer;
}

.button-area button:hover {
  background-color: #333;
  color: #fff;
}

.faq-container {
  border: 1px solid #ddd;
}

.faq-item {
  border-bottom: 1px solid #ddd;
}

.faq-item:last-of-type {
  border-bottom: none;
}

.question-pane {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: 0;
  font-family: inherit;
  cursor: pointer;
}

.question-pane:hover {
  color: #c23c38;
}

.question {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  align-items: center;
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 700;

}

.text-left {
  text-align: left;
}

.answer-pane {
  display: none;
  padding: 20px;
  background-color: #f1f1f1;
  transition: .3s ease-in-out;
}

.force-show-flex {
  display: flex !important;
  transition: .3s ease-in-out;
}

.force-hide {
  display: none !important;
  transition: .3s ease-in-out;
}

.explore-link {
  padding: 20px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;

}

.explore-link a {
  display: inline-flex;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  line-height: 1.5;
  font-size: 0.9rem;
  padding: 14px 30px;
  transition: .3s ease-in-out;
}

.explore-link a.buy {
  line-height: 1.4;
  font-size: 0.75rem;
  padding: 12px 25px;
}

.explore-link a:hover {
  background-color: #000;
  color: #fff;
}


.sleek-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: rgb(28, 110, 120);
  opacity: 0.4;
  background-blend-mode: multiply;



}

.bg-patterns {
  background: -webkit-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -webkit-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: -o-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -o-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: -moz-linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    -moz-radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
  background: linear-gradient(20deg, #abbcc3 40%, rgba(0, 0, 0, 0) 30%),
    radial-gradient(farthest-corner at 0% 0%, #c2d0d5 70%, #b6d2dd 70%);
}

.sleek-bg {
  z-index: 0;
  position: relative;
  background-image: url(/images/face.jpg);
  min-height: 150px;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.catalog-title {
  padding: 15px;
  text-align: center
}

.catalog-title h2 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.catalog-title h3 {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--font-marcellus);
  font-weight: 400;
}

.push-shadow {
  box-shadow: -2px 9px 9px -6px #333;
}

.search-input-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 5px 40px 5px 0px;
  position: relative;
  overflow: hidden;
}

.search-input-cover input {
  padding: 8px 15px;
  border: none;
  outline: 0;
  font-size: 1.1rem;
  background-color: transparent;
}

.search-input-cover button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(17, 127, 182);
  color: #fff;
  border: 1px solid rgb(17, 127, 182);
  padding: 9px 15px;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  position: absolute;
  right: 5px;
}

.search-input-cover button:hover {
  background-color: rgb(3, 53, 79);
  color: #fff;

}


.floater-container{
  position: absolute;
  min-width: 200px;
  min-height: 80px;
  right:  0;
  top: 100%;
  z-index: 9000;
  border-radius: 5px;
  box-shadow: 1px 4px 1px 1px #333;
  background-color: #fff;
}